<h1>Users#edit</h1>

<%= form_with model: @user do |f| %>
  <div>
    <%= f.label :name, "名前" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "メールアドレス" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit '更新', class: 'btn btn-success', data: { disable_with: 'Update User' } %>
  </div>

  <div>
    <%= link_to "退会", user_path(current_user), method: :delete, data: { confirm: "本当に退会しますか？" }, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>