
<section class="border-top">
  <div class="container py-lg-1">
    <span><%= link_to '野菜', items_path %></span>
    <span><%= link_to '価格', prices_path %></span>
  </div>
</section >

<h1>Users#show</h1>
<div>
  <h3><%= @user.name %></h3>
  <p><%= link_to "ユーザー情報編集", edit_user_path(@user.id) %></p>
</div>

<% @items.each do |item| %>
  <div>
    <p>商品名: <%= link_to item.title, item_path(item.id) %></p>
    <p>説明: <%= item.body %></p>
  </div>
<% end %>